$gray1: #333333;
$blue1: #67d2cb;

html {
    body{
        background-color: $gray1;
        font-family: 'Orbitron';
        >div{
            margin-top: 5%;
        }
    }    
}

.center {
    text-align: center;
}
.hidden {
    display: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* === CLOCK NORMAL === */
#clock_SVG {
        max-height: 30%;
        z-index: 0;

        #face {
            stroke-width: 2px; 
            stroke: #fff; 
        }
        #hour_SVG, #min_SVG, #sec_SVG {
            stroke-width: 1px; 
            fill: #333; 
            stroke: #555;
        }
        #sec_SVG { 
            stroke: #f55; 
        }
}

/* === CLOCK CSS === */
#clockCSS {
    position: relative;
    height: 200px;
    width: 200px;
    background: white;
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid $blue1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1em auto;

    .dash{
        *{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .top{
            background: $gray1;
            position: absolute;
            width: 3px;
            height: 8px;
            margin: 0 auto;}
        .right{
            background: $gray1;
            position: absolute;
            width: 8px;
            height: 3px;
            margin: auto 0;
            margin-left: 96%;}
        .bottom{
            background: $gray1;
            position: absolute;
            width: 3px;
            height: 8px;
            margin: 0 auto;
            margin-top: 95%}
        .left{
            background: $gray1;
            position: absolute;
            width: 8px;
            height: 3px;
            margin: auto 0;}
        .center{
            background: $gray1;
            position: absolute;
            height: 6px;
            width: 6px;
            margin: auto;
            border-radius: 100%;
            z-index: 10;}
    }

    #hour_CSS {
        width: 3px;
        height: 100%;
        position: absolute;
        left: -4px;
        right: 0;
        margin: 0 auto;
        animation: time 60s infinite linear;
        &:before{
            position: absolute;
            content: '';
            background: #262626;
            height: 20px;
            width: 3px;
            top: 67px;}        
    }

    #min_CSS {
        width: 1px;
        height: 100%;
        position: absolute;
        left: -3px;
        right: 0;
        margin: 0 auto;
        animation: rotate 3600s infinite linear;
        &:before{
            position: absolute;
            content: '';
            background: #262626;
            height: 40px;
            width: 1px;
            top: 50px;}        
    }

    #sec_CSS {
        width: 2px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: rotate 60s infinite linear;
        &:before{
            position: absolute;
            content: '';
            background: #fd1111;
            height: 60px;
            width: 2px;
            top: 30px;}        
    }

    @keyframes rotate {
        100% {transform: rotateZ(360deg);}
    }
}
    
/* === CLOCK DIGITAL === */
#clockDigital {
        position: relative;
        top: 10%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #17D4FE;
        font-size: 35px;
        letter-spacing: 3px;
}

/* === TOGGLER === */
.sticky {
    position: sticky;
    top: 20%;
    .toggle-container{
        padding: 10% 0 10% 10%; 

        .toggle-btn{
            position: relative;
            width: 130px;
            height: 30px;
            border-radius: 20px;
            padding: 3px;
            text-align: center;
            background: rgb(255, 255, 255);
            transition: all 300ms ease-in-out;

            > .inner-circle{
                position: absolute;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #333333;
                transition: all 300ms ease-in-out;}

            .inner-text{
                @extend .noselect;  
                position: absolute; 
                left: 0;
                right: 0;
                margin: auto;}

            &.active{
                background: #17D4FE;

                > .inner-circle{
                    margin-left: 77%;
                }
            }
        }
    }    
}

